fastapi==0.115.12
greenlet==3.1.1
groq==0.22.0
httpx==0.28.1
huggingface-hub==0.30.2
langchain-cli==0.0.36
langchain-community==0.3.21
langchain-core==0.3.51
langchain-experimental==0.3.4
langchain-groq==0.3.2
langchain-huggingface==0.1.2
langchain-postgres==0.0.14
langchain-text-splitters==0.3.8
langgraph==0.3.30
langgraph-checkpoint==2.0.24
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.61
langsmith==0.3.31
pgvector==0.3.6
psycopg==3.2.6
psycopg-pool==3.2.6
psycopg2==2.9.10
pydantic==2.11.3
pydantic-settings==2.8.1
pydantic_core==2.33.1
PyPDF2==3.0.1
python-docx==1.1.2
python-dotenv==1.1.0
python-multipart==0.0.20
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
SQLAlchemy==2.0.40
transformers==4.51.3
typer==0.15.2
uvicorn==0.34.1
